{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1> أسم العميل</h1>

<tr>
    <form action="/create_order/" method="POST" >
        {%csrf_token%}
        <th scope="row"></th>

        <td>
            <input list="customers" name="customer" required="true">
            <datalist id="customers">
                {% for customer in options.customers %}
                    <option value="{{customer}}">
                {% endfor %}
            </datalist>            
        </td>

        <td colspan="2"> <input type="submit" style="width: 85px;"  class="btn btn-primary" value="تم"></td>
    </form>
</tr>
{% endblock %}