{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>المنتجات</h1>
<table class="table ">
    <thead>
    <tr>
        <th scope="col ">#</th>
        <th scope="col"> أسم العميل</th>
        <th scope="col"> تليفون </th>
        <th scope="col">ملاحظه</th>
        <!-- <th scope="col">دفع</th> -->
        <th scope="col">الحساب</th>

    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>

        <td>{{ user.customer_name }}</td>
        <td>0{{ user.customer_number }}</td>
        <td>{{ user.cus_note }}</td>
        <td>{{ user.cus_acc }}</td>


    </tr>
    {% endfor %}
    
    <!-- <tr> 
        <td colspan="6" class="table-success"></td><td><b>{{total}}$</b></td>
    </tr> -->


    </tbody>
</table>

{% endblock %}

